# Python
__pycache__/
*.py[cod]
*.pyo

# Jupyter
.ipynb_checkpoints/


# Docker build artifacts
ros2_ws/build/
ros2_ws/install/
ros2_ws/log/

# Editor
.vscode/

# Temporary trash
.trash/

# Big model files
segmentation_model_camvid.pt

# Dataset / outputs
class_dict.csv
# /data/  (tracked as requested)
# output/ (tracked as requested)
# test_predictions.png (tracked as requested)
# training_curves.png (tracked as requested)
